{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/tailwind/dist/tailwind.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css ">
</head>
    <style>
        .foot {
            opacity: 50%;
        }
        .copy {
            color: rgb(167, 68, 57);
            font-size: 1em;
            font-weight: 900;
        }
    </style>
<body>
     
    <!-- Footer -->
    <div class="my-14 border-t-2">
        <div class="flex mx-4 mt-4 flex-col justify-center gap-16 sm:flex-row">
            <div class="copy">
                Copyright 2021 - Tricky.com
            </div>

            <div class="foot flex flex-col justify-around relative gap-5">
                <div class="">
                    <p class=" text-sm font-semibold mb-2">Follow us</p>
                    <div class="flex gap-2">
                        <div class="">
                            <i class="text-2xl fab fa-instagram"></i>
                            <a class="ml-0 sm:ml-1" href="">Instagram</a>
                        </div>
                        <div class="">
                            <i class="text-2xl fab fa-facebook-square"></i>
                            <a class="ml-0 sm:ml-1" href="">Facebook</a>
                        </div>
                        <div class="">
                            <i class="text-2xl fab fa-twitter"></i>
                            <a class="ml-0 sm:ml-1">twitter</a>
                        </div>
                    </div>   
                </div>

                <div class="">  
                    <p class=" font-semibold text-sm mb-2">Explore</p>
                    <div class="exp flex text-xs gap-1 sm:gap-2">
                        <a href="http://localhost:8000/kategori/1">News</a>
                        <a href="http://localhost:8000/kategori/2">Edukasi</a>
                        <a href="http://localhost:8000/kategori/3">Olahraga</a>
                        <a href="http://localhost:8000/kategori/5">Astronomi</a>
                        <a href="http://localhost:8000/kategori/4">Games</a>
                    </div>
                </div>
               
    </div>
</body>
</html>