{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title%}

{% block content %}
    <style>
        .card ,.nav  {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        
        }
        .main {
            padding: 10px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
        .card:hover {
            top: -10px;
        }
        .nav a:hover {
            color: white;
            transition: 1s;
            background-color: rgb(39, 6, 63);
        }
        .slug {
            margin-top: 20px;
            /* padding: 6px; */
            background: linear-gradient(rgb(82, 5, 62),rgb(18, 1, 37));
            color: white;
            padding: 10px;
            font-size: medium;
            transition: 2s;
        }
        .slug:hover {
            transition: 2s;
            background: white;
            color:rgb(18, 1, 37) ;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
        .text{
            backdrop-filter: blur(6px);
        }
        .cuaca {
            background: linear-gradient(rgb(201, 201, 238),rgb(149, 149, 226));
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
        .page:hover {
            color: orange;
            background-color: white;
            font-weight: bold;
            border: 1px solid;
        }
        .banner {
            backdrop-filter: blur(1px);
        }
    </style>
    <div class="container mx-auto flex justify-center items-center ">
        <div class="nav p-2 rounded-full flex justify-center items-center gap-2">
            
        {% for DataKategori in kat %}
            <a class="relative rounded-full  md:p-1" href="{% url 'blog:kategori' Kategori_input=DataKategori.id %}">{{DataKategori.name}}</a>      
        {% endfor %}
        </div>
    </div>
    
    <div class="my-auto mx-2 mt-11 xl:mx-36 ">
        <div class="flex gap-3 flex-col xl:flex-row">
            <div class="relative w-full xl:w-4/6">
                {% if banner.images %}
                <img class="opacity-75 " src="{{ banner.images.url }}" alt="" width="100%">
                <div class="">
                    <a href="{% url 'blog:detail' banner.slug %}"><p class="banner p-2 absolute bottom-2 text-white text-base font-medium hover:underline sm:text-3xl">{{banner.title}} | {{banner.author}}</p></a>
                </div>     
                {% endif %}
            </div>
            
            <div class="w-full xl:w-2/6 ">
                <div class="flex flex-row gap-4 xl:flex-col">
                    <div class="cuaca flex flex-col rounded-md sm:flex-row">
                        <div class="hidden sm:block">
                            <img class="" src="http://openweathermap.org/img/wn/{{data.ikon}}.png" alt="" width="100px">
                        </div>
                        <div class="p-1">
                            <p class=" font-bold">{{data.kota}} ({{data.kondisi}})</p>
                            <p class="">Temperatur : {{data.temperatur}} °C</p>
                            <p class="">Kecepatan Angin : {{data.kecepatan_angin}} m/detik</p>
                            <p class="">Tekanan Udara : {{data.tekanan_udara}} hPa</p>
                        </div>
                    </div>
                    <div class="">
                        {% for ter in banner2 %}
                        <div class="flex flex-row gap-2 mb-4 border-b-2 pb-1">
                            <div class="">
                                {% if ter.images %}
                                <img class="rounded-md" src="{{ ter.images.url }}" alt="" width="200px">
                                {% endif %}
                            </div>
                            <div class="">
                                <a href="{% url 'blog:detail' ter.slug %}"><p class="text-sm hover:underline">{{ter.title}}</p></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
              
              
            </div>

        </div>
    </div>
    
    
    <div class="main container mx-auto mt-10 ">
       <p class="text-lg font-semibold "> {{Kata}}</p> 
       
        <div class="grid grid-cols-2 my-9 gap-4 justify-items-center relative md:grid-cols-4">
            {% for content in blog %}
            <div class="card relative block">
                    {% if content.images %}
                    <img class="rounded-md" src="{{ content.images.url }}" width="315px">                  
                    {% endif %}
                <p class="mt-2 px-2 text-sm ">{{content.create}} - <strong>{{content.author}}</strong></p>
                <a class="hover:underline backdrop-opacity-25" href="{% url 'blog:detail' content.slug %}"><h1 class="mt-5 px-2  text-black text-md font-bold">{{content.title}}</h1></a>
            </div>
            {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="flex justify-center p-3 items-stretch">
            <span class=" border-2 p-3">
                {% if blog.has_previous %}
                    <a class="page text-sm bg-yellow-600 text-white p-1 rounded-lg" href="?page={{ blog.previous_page_number }}">Sebelumnya</a>
                {% endif %}
        
                <span class="p-2 rounded-lg">
                    Halaman {{ blog.number }} dari {{ blog.paginator.num_pages }}
                </span>
        
                {% if blog.has_next %}
                
                    <a class="page text-sm bg-yellow-600 text-white p-1 rounded-lg" href="?page={{ blog.next_page_number }}">Selanjutnya</a>
                {% endif %}
            </span>
    </div>
   
{% endblock content %}
    
