{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title%}

{% block content %}
    <div class="container mx-auto ">
        <div class="text-center ">
        {% for DataKategori in blog %}
            <a class="border-2 p-3 rounded-lg font-semibold" href="{% url 'blog:kategori' Kategori_input=DataKategori.category %}">{{DataKategori.category}}</a>      
        {% endfor %}
        </div>
    </div>
    
    <div class="container flex">
        <div class="big">
            
        </div>
        <div class="small">
            <div class="">
                hendri
            </div>
            <div class="">
                Hendri
            </div>
        </div>
    </div>
    {% for blogs in blog %}
        {{forloop.counter}}. <a href="{% url 'blog:detail' blogs.id %}">{{blogs.title}}</a> <br>
    {% endfor %}
{% endblock content %}
    
