{% extends 'base.html'%} 

{% block title %}
{% for nav in title %}
    {{nav.name}}
    {% endfor %}
{% endblock title %}

{% block content %}

        <style>
            .navigasi{
                box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                color: white;
                transition: 1s;
                background-color: rgb(39, 6, 63);
            }
            .main {
            padding: 10px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }
            .card {
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            }
        </style>
    
    <div class="container mx-auto flex justify-center items-center ">
        <div class="navigasi p-2 rounded-full flex justify-center items-center gap-2">
            {% for nav in title %}
            <p class="relative rounded-full md:p-1">{{nav.name}}</p>      
            {% endfor %}
        </div>
    </div>

    <div class="main container mx-auto mt-10 ">
        <div class="grid grid-cols-2 my-9 gap-4 justify-items-center relative md:grid-cols-4">
            {% for kategori in kat %}
            <div class="card relative block">
                    {% if kategori.images %}
                    <img class="rounded-md" src="{{ kategori.images.url }}" width="315px">                  
                    {% endif %}
                <p class="mt-2 px-2 text-sm ">{{kategori.create}} - <strong>{{kategori.author}}</strong></p>
                <a class="hover:underline backdrop-opacity-25" href="{% url 'blog:detail' kategori.slug %}"><h1 class="mt-5 px-2  text-black text-md font-bold">{{kategori.title}}</h1></a>
            </div>
            {% endfor %}
        </div>
       

{% endblock content %}