<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Failed</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css ">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Mukta', sans-serif;
        }
        .main {
            margin: 100px auto;
            text-align: center;
            max-width: 500px;
            font-size: 2rem;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="main">
        Sorry, You can't visit this pages <br> <a href="{% url 'blog:index'%}">Back into home page . .</a>
    </div>
</body>
</html>